.movies-list {
    max-width: 800px;
    margin: 14px auto;
}

.movies-list article {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
}

.movies-list strong {
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.movies-list article img {
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.movies-list article a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    background-color: #116feb;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}