.not-found {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found h1 {
    font-size: 120px;
}

.not-found p {
    font-size: 20px;
    font-weight: bold;
}

.not-found a {
    text-decoration: none;
    color: #000;
    background-color: #116feb;
    padding: 10px 20px;
    margin-top: 14px;
    color: #fff;
}