header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: #1a1a1a;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

}

.favorites {
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 14px;
    color: #000;
    border-radius: 4px;
}