.movie-info {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
    margin: 0 auto;
}

.movie-info h1 {
    margin: 20px 0;
}

.movie-info img {
    border-radius: 8px;
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.movie-info h3 {
    margin-top: 14px;
}

.movie-info span {
    display: block;
    margin: 8px 0;
    line-height: 1.5;
}

.movie-info strong {
    display: block;
    margin-bottom: 14px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.buttons button {
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button a {
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

.buttons button:hover {
    background-color: brown;
    color: #fff;
}

.buttons button:hover a {
    color: #fff;
}